.container {
  background-color: aliceblue;
  width: 80%;
  max-width: 800px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav{
  background-color: aliceblue;
  text-align: center;
  padding: 10px;
  margin: 2px auto;
  border-radius: 8px;
  text-decoration: dotted;
  border: 2px dotted black;
}
.section {
  margin-bottom: 20px;
}

.section h2 {
  margin-top: 0;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}

.button-group {
  margin-top: 20px;
}

.button-group button {
  margin-right: 10px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

li:last-child {
  border-bottom: none;
}